
#wrap{
	overflow:hidden;
	width:500px;
	margin: 20px 86px;
}

fieldset{
	width:150px;
	height:40px;
	float:left;
	text-align:center;
	margin:10px 10px 10px 20px;
	padding-top:25px;
	color:#333;
}

#aqi-chart-wrap{
	height:600px;
	border:1px solid #999;
	margin:0 auto;
	position:relative;
}
#aqi-chart-wrap span{
	display:block;
	width:250px;
	margin:30px auto;
}

#aqi-chart-wrap div{
	position:absolute;
}
