.layer0,.layer1,.layer2,.layer3,.layer4{
	border:1px solid #666;
	padding:5px;
	display:flex;
	flex-grow:1;
    justify-content: space-around;
	margin:5px;
	background:#FFF;
	/*设置初始背景色：这里设置的样式优先级低于javascript中的动态样式node.style.background(行内样式)*/
}
.layer0{
	/*width:1430px;*/
	margin:0 auto;
}

#btn{
	padding:20px;
	width:800px;
	margin:0 auto;
}
.btn{
	cursor:pointer;
	margin-left:60px;
	border:1px solid #999;
	width:120px;
	height:33px;
	font-size:15px;
	text-align:center;
	line-height:33px;
	background:#fff;
	border-radius:5px;
	
}
input{
	margin-left:60px;
	width:250px;
	height:40px;
	color:#666;
	font-size:16px;
	text-align:center;
	line-height:40px;
}